body {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.chat-message {
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: .25rem;
}

.chat-message.user {
    background-color: #007BFF; /* a shade of blue */
    color: #ffffff; /* white */
}

.chat-message.prompt {
    background-color: #FFC107; /* A shade of amber */
    color: #ffffff; /* white */
}

.chat-message.assistant {
    background-color: #28a745; /* green */
    color: #ffffff; /* white */
}

.chat-box {
    max-height: 327px;
    overflow-y: auto;
    padding: 2rem;
}

form {
    margin-bottom: 30px;
}